<form method="get" class="form-horizontal" action="/app/create">
    <div class="form-group">
        <label class="col-sm-2 control-label">项目名称</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" name="app_name">
        </div>
    </div>
    <div class="hr-line-dashed"></div>

    <div class="form-group">
        <label class="col-sm-2 control-label">项目类型</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" name="app_type">
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="form-group">
        <label class="col-sm-2 control-label">部署路径</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" name="develop_path">
        </div>
    </div>

    <div class="hr-line-dashed"></div>


    <div class="form-group">
        <label class="col-sm-2 control-label">IP列表</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" name="iplist">
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <button class="btn btn-primary" type="submit">保存内容</button>
            <button class="btn btn-white" type="button">取消</button>
        </div>
    </div>
</form>