<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>

            <th>项目ID</th>
            <th>项目名称</th>
            <th>项目类型</th>
            <th>创建时间</th>
            <th>部署路径</th>
        </tr>
        </thead>
        <tbody>

        {{range .applist}}
        <tr>
            <td>
                {{.AppId}}
            </td>
            <td>{{.AppName}}</td>
            <td>
                {{.AppType}}
            </td>
            <td>{{.CreateTime}}</td>
            <td>
                {{.DevelopPath}}
            </td>
        </tr>
        {{end}}

        </tbody>
    </table>
</div>